// Colors
$bg-color: #C9F6FF;
$dot-color: #05AFF2;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

.main-background {
  background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
  height: 100vh;
}

  .pages {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    .pages {
      font-size: 2.5rem;
    }
  }

