.col {
    margin-top: 0.2rem;
    width: 300px;
    @media (min-width: 650px) {
        min-width: 550px;
    }
}

.row {
    margin-left: 0.2rem;
    width: 150px;
    @media (min-width: 650px) {
        min-width: 280px;
    }
}

.text-area {
    margin: 0.5rem 0;
    width: 280px;
    @media (min-width: 650px) {
        min-width: 550px;
    }
}

.row-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0;
    width: 18rem;

    button {
        width: 3rem;
        height: 1rem;
        border: none;
        background-color: #fff;
        font-size: 0.8rem;
        font-family: inherit;
        p {
            margin: 0;
        }
    }
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5rem;
    align-items: center;
    margin: 0.5rem 0;
    width: 18rem;
    align-self: center;

    button {
        justify-self: center;
        width: 3rem;
        height: 1rem;
        border: 1px solid #000;
        border-radius: 0.2rem;
        background-color: #fff;
        font-size: 0.8rem;
        font-family: inherit;
        p {
            margin: 0;
        }
    }
}