.col {
    margin-top: 0.2rem;
    width: 300px;
    @media (min-width: 650px) {
        min-width: 550px;
    }
}

.row {
    margin-left: 0.2rem;
    width: 150px;
    @media (min-width: 650px) {
        min-width: 280px;
    }
}

.text-area {
    margin: 0.5rem 0;
    width: 280px;
    @media (min-width: 650px) {
        min-width: 550px;
    }
}