.Header {
    /* grid */
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-areas: "logo" "nav";

    /* background */
    background-color: #000;

    /* font color */
    color: #fff;
}

.Header p {
    /* grid */
    grid-area: "logo";

    /* text */
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.Header i {
    /* grid */
    grid-area: "nav";
    /* text */
    font-size: 20px;
    text-align: center;
    line-height: 50px;

    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
}
