.MainNavBar {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
    .MainNavBar {
        display: none;
    }
}

@keyframes shownav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hidenav {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.MainNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.MainNavBar {
    animation-name: shownav;
    -webkit-animation-name: shownav;
    -moz-animation-name: shownav;
    animation-duration: 1s;
}

li {
    /* parents width equally divided */
    width: 25%;

    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}